# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Models
*.3ds
*.3DS
*.obj

# Static Libraries

includes/

# My Examples

MyDocs/

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mercurial
/.hg/*
*/.hg/*
.hgignore
